* {
	font-family: sans-serif;
}

#header {
	margin: 0px 450px;
	padding: 20px 0px 30px 0px;
}

.logo {
	font-size: 1.5em;
	text-decoration: none;
}

.header-nav {
	text-decoration: none;
	color: #555555;
	float: right;
	display: inline-block;
	margin: 10px;
}

.banner {
	margin: 0px;
	padding: 50px 1000px 100px 450px;
	display: block;
	clear: both;
	background-color: #042b61;
	color: #ffffff;
}

.body{
	text-align: center;
	margin: 0px 450px;
	padding: 50px 0px;
}

.body > .caption {
	margin: 0px 100px;
}

.service {
	padding: 0px 10px;
	display: inline-block;
	width: 30%;
}

.body.tutorial {
	text-align: left;
}

#footer {
	margin: 0px 450px;
	padding: 20px 0px 30px 0px;
}

.footer-nav {
	text-decoration: none;
	float: right;
	display: inline-block;
	margin: 10px;
}

.button span {
	padding: 1em;
	border: 1px solid blue;
	border-radius: 5px;
}

.button span:hover {
	background-color: blue;
}

.button a {
	text-decoration: none;
}