* {
	font-family: 'Roboto', sans-serif;
	/*src: local('Roboto Light'), local('Roboto-Light');*/
}

.header {
	max-width: 950px;
	text-align: center;
	margin: auto;
	display: block;
}

.logo {
	margin: 20px 0px;
	float: left;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
}

.logo:visited {
	color: #000000;
}

.header-nav {
	text-decoration: none;
	color: #555555;
	float: right;
	display: inline-block;
	margin: 30px 10px;
}

.banner {
	padding: 45px 20px;
	margin: auto;
	clear: both;
	background-color: #042b61;
	color: #ffffff;
	display: block;
}

.banner h1 {
	font-weight: 300;
	font-size: 3.3em;
	margin-bottom: 0em;
}

.banner-text {
	margin: auto;
	max-width: 950px;
}

.banner span {
	line-height: 150%;
	font-size: 1.25em;
	font-weight: 300;
	margin: 0em, auto;
	max-width: 575px;
	display: inline-block;
}

.body{
	margin: auto;
	text-align: center;
	max-width: 1000px;
	padding-top: 75px;
	line-height: 150%;
	page-break-after: always;
}

.body h1 {
	font-weight: 300;
	font-size: 2.4em;
	margin-top: 0.5em;
}

.body > .caption {
	margin: auto;
	padding: 0px 50px;
	max-width: 700px;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 150%;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	clear: both;
	margin-top: 7em;
}

.service {
	margin-top: 2.5em;
	padding: 0px 12px;
	display: inline-block;
	width: 29.68%;
	vertical-align: top;
}

.service h2 {
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 0em;
}

.service p {
	margin-top: 0.75em;
}

.learn-git {
	max-width: 950px;
	margin: 0em auto 6em auto;
	float: left;
	text-align: left;
	display: inline-block;
}

.learn-git img {
	position: relative;
	float: left;
	margin: auto;
	text-align: left;
	padding: 0px 60px 0px 60px;
	display: inline-block;
}

.learn-git h2 {
	font-weight: 300;
	font-size: 1.9em;
}


.footer {
	margin: auto;
	clear: both;
	max-width: 950px;
	padding: 20px 0px 30px 0px;
	font-size: 0.8em;
	color: #555555;
	vertical-align: center;
	text-align: center;
}

.copyright-info {
	margin: auto;
	float: left;
}

.footer-img {
	margin: auto;
	display: inline-block;
	vertical-align: center;
}

.footer-links {
	float: right;
}

.footer-nav {
	margin: auto 10px;
	text-decoration: none;
	float: right;
	color: #0079d1;
}

.footer-nav:hover {
	text-decoration: underline;
}

.banner .button span {
	font-weight: 400;
	color: #ffffff;
	border: 1px solid #ffffff;
	width: auto;
	margin: -1em auto 0.5em auto;
}

.banner .button span:hover {
	background-color: #ffffff;
	color: #0079d1;
}

.button {
	margin-top: 50px;
}

.button span {
	margin: 0em, auto;
	padding: 0.75em 1.25em;
	border: 1px solid #0079d1;
	border-radius: 5px;
	color: #0079d1;
	text-decoration: none;
}

.button span:hover {
	background-color: #0079d1;
	color: #ffffff;
}

.button a {
	text-decoration: none;
}